
div {
	display: inline-block;
}

.menuPad{
	padding-left: 150px;
	padding-top: 130px;
	/*padding-right: 50%;*/
	overflow: hidden;
}
.menu {
	font-size: 30px;
	overflow: hidden;
	/*font-family: "Times";*/
}
#name{
	/*cursor: pointer;*/
	font-family: Times, serif;
}

.CV, .rgb1{
	padding-left: 2px;
	padding-top: 40px;
	position: fixed;
	/*color: #707070;*/
	/*display: block;*/
	font-size: 20px;
	z-index: 2;
	/*font-family: "Arial";*/
	/*border-bottom: 1px solid;
	border-bottom-color: #CFCFCF;*/
}
.browse, .rgb2 {
	padding-left: 2px;
	padding-top: 80px;
	position: fixed;
	/*color: #707070;*/
	/*display: block;*/
	font-size: 20px;
	z-index: 1;
	/*font-family: "Arial";*/
	/*border-bottom: 1px solid;
	border-bottom-color: #CFCFCF;*/
}
.mind, .rgb5{
	padding-left: 2px;
	padding-top: 120px;
	position: fixed;
	font-size: 20px;
	z-index: 0;
}
.insta, .rgb7{
	padding-left: 2px;
	padding-top: 160px;
	position: fixed;
	font-size: 20px;
	z-index: -1;
}
.tumblr, .rgb3{
	padding-left: 2px;
	padding-top: 200px;
	position: fixed;
	font-size: 20px;
	z-index: -2;
}
.YT, .rgb8{
	padding-left: 2px;
	padding-top: 240px;
	position: fixed;
	font-size: 20px;
	z-index: -3;
}
.SC, .rgb10{
	padding-left: 2px;
	padding-top: 280px;
	position: fixed;
	font-size: 20px;
	z-index: -4;
}
.hacker, .rgb4{
	padding-left: 2px;
	padding-top: 320px;
	position: fixed;
	font-size: 20px;
	z-index: -5;
}

.res_description{
	padding-left: 240px;
	padding-top: 40px;
	position: fixed;
	font-size: 20px;
	font-style: italic;
	z-index: -99;
	opacity: 0.0;
}
.music_description{
	padding-left: 240px;
	padding-top: 80px;
	position:fixed;
	font-size: 20px;
	font-style: italic;
	z-index: -100;
	/*display: none;*/
	opacity: 0.0;
}
.mind_description{
	/*padding-left: 110px;*/
	padding-left: 240px;
	padding-top: 120px;
	position: fixed;
	font-size: 20px;
	font-style: italic;
	z-index: -101;
	opacity: 0.0;
}
.insta_description{
	/*padding-left: 110px;*/
	padding-left: 240px;
	padding-top: 160px;
	position: fixed;
	font-size: 20px;
	font-style: italic;
	z-index: -102;
	opacity: 0.0;
}
.tumblr_description{
	/*padding-left: 110px;*/
	padding-left: 240px;
	padding-top: 200px;
	position: fixed;
	font-size: 20px;
	font-style: italic;
	z-index: -103;
	opacity: 0.0;
}
.YT_description{
	/*padding-left: 110px;*/
	padding-left: 240px;
	padding-top: 240px;
	position: fixed;
	font-size: 20px;
	font-style: italic;
	z-index: -104;
	opacity: 0.0;
}
.SC_description{
	/*padding-left: 110px;*/
	padding-left: 240px;
	padding-top: 280px;
	position: fixed;
	font-size: 20px;
	font-style: italic;
	z-index: -105;
	opacity: 0.0;
}
.hacker_description{
	/*padding-left: 110px;*/
	padding-left: 240px;
	padding-top: 320px;
	position: fixed;
	font-size: 20px;
	font-style: italic;
	z-index: -106;
	opacity: 0.0;
}

#res, #music, #blog, #hack, #mind, #report, #art, #asmr, #asmr_link, #soundc, #sc_link{
	color: black;
	cursor: pointer;
	text-decoration: none;
	z-index: -6;
	position: fixed;
	/*border-bottom: 1px solid;
	border-bottom-color: #CFCFCF;*/
}
/*#more{
	padding-left: 50px;
	border-bottom: 1px solid;
	border-bottom-color: #CFCFCF;
}*/
/*.rgb{
	position: absolute;
	display: none;
	top: 178px;
	opacity: 0.5;
	font-size: 30px;
	z-index: -1;
	overflow: hidden;
}*/

/*#r {*/
	/*color: #00FFFF; /*cyan*/
	/*color: #FF0000; /*red*/
	/*left: 155px;*/
/*}*/
/*#g {*/
	/*color: #FF00FF; /*magenta*/
	/*color: #00FF00; /*green*/
	/*left: 158px;*/
/*}*/
/*#b {*/
	/*color: #FFFF00; /*yellow*/
	/*color: #0000FF; /*blue*/
	/*left: 161px;*/
/*}*/
.rgb1, .rgb2, .rgb3, .rgb4, .rgb5, .rgb6, .rgb7, .rgb8, .rgb9, .rgb10, .rgb11{
	/*position: absolute;*/
	/*display: none;*/
	/*top: 187px;*/
	opacity: 0.0;
	font-size: 20px;
	z-index: -10;
	/*overflow: hidden;*/
}
#r2{padding-left:0px; color: #00FFFF; }
#g2{padding-left:2px; color: #FF00FF; }
#b2{padding-left:4px; color: #FFFF00; }

p {
	font-size: 0;
	display: inline;
}

.mind_prompt{
	padding-left: 360px;
	/*padding-right: 50px;*/
	padding-top: 85px;
	white-space: pre-wrap;
	font-size: 18px;
	position: fixed;
	display: none;
	z-index: -200;
}
.asmr_desc{
	padding-left: 360px;
	/*padding-right: 50px;*/
	padding-top: 85px;
	white-space: pre-wrap;
	font-size: 18px;
	position: fixed;
	display: none;
	z-index: -200;
}
.sc_desc{
	padding-left: 360px;
	/*padding-right: 50px;*/
	padding-top: 85px;
	white-space: pre-wrap;
	font-size: 18px;
	position: fixed;
	display: none;
	z-index: -200;
}
span.report_prompt{
	display: inline-block;
	width: 51%;
	font-size: 0;
}
span.asmr_prompt{
	display: inline-block;
	width: 51%;
	font-size: 0;
}
span.sc_prompt{
	display: inline-block;
	width: 51%;
	font-size: 0;
}
span a {
	font-size: 18px;
	line-height: 24px;
	/*width: 50%;*/
}
span#align-right {
	/*position: relative;*/
	/*padding-left: 220px;*/
	text-align: right;
	/*font-size: 20px;*/
	/*line-height: 5px;*/
	/*padding-top: 1200px;*/
}
.report, .rgb6 {
	padding-top: 555px;
	padding-left: 655px;
	position: fixed;
	font-size: 20px;
	font-style: italic;
	display: none;
	/*z-index: 5;*/
}
.YT_link, .rgb9 {
	padding-top: 511px;
	padding-left: 705px;
	position: fixed;
	font-size: 20px;
	font-style: italic;
	display: none;
	/*z-index: 5;*/
}
.SC_link, .rgb11 {
	padding-top: 467px;
	padding-left: 790px;
	position: fixed;
	font-size: 20px;
	font-style: italic;
	display: none;
	/*z-index: 5;*/
}
/*#report{
	font-style: italic;
	z-index: -200;
}*/
.rgb6#r3{padding-left:653px; color: #00FFFF; }
.rgb6#g3{padding-left:655px; color: #FF00FF; }
.rgb6#b3{padding-left:657px; color: #FFFF00; }

.rgb9#r3{padding-left:703px; color: #00FFFF; }
.rgb9#g3{padding-left:705px; color: #FF00FF; }
.rgb9#b3{padding-left:707px; color: #FFFF00; }

.rgb11#r3{padding-left:788px; color: #00FFFF; }
.rgb11#g3{padding-left:790px; color: #FF00FF; }
.rgb11#b3{padding-left:792px; color: #FFFF00; }

/*#report {
	font-size: 20px;
}*/

/*span a {*/
	/*font-size: 18px;*/
	/*line-height: 24px;*/
	/*width: 50%;*/
/*}*/

