
div {
	display: inline-block;
}

.menuPad{
	padding-left: 150px;
	padding-top: 130px;
	/*padding-right: 50%;*/
	overflow: hidden;
}
.menu {
	font-size: 30px;
	overflow: hidden;
	/*font-family: "Times";*/
}
#name{
	/*cursor: pointer;*/
	font-family: Times, serif;
}

.browse, .rgb2 {
	padding-left: 2px;
	padding-top: 100px;
	position: fixed;
	/*color: #707070;*/
	/*display: block;*/
	font-size: 20px;
	z-index: 1;
	/*font-family: "Arial";*/
	/*border-bottom: 1px solid;
	border-bottom-color: #CFCFCF;*/
}
.CV, .rgb1{
	padding-left: 2px;
	padding-top: 50px;
	position: fixed;
	/*color: #707070;*/
	/*display: block;*/
	font-size: 20px;
	z-index: 2;
	/*font-family: "Arial";*/
	/*border-bottom: 1px solid;
	border-bottom-color: #CFCFCF;*/
}
.tumblr, .rgb3{
	padding-left: 2px;
	padding-top: 200px;
	position: fixed;
	font-size: 20px;
	z-index: -1;
}
.hacker, .rgb4{
	padding-left: 2px;
	padding-top: 250px;
	position: fixed;
	font-size: 20px;
	z-index: -2;
}
.mind, .rgb5{
	padding-left: 2px;
	padding-top: 150px;
	position: fixed;
	font-size: 20px;
	z-index: 0;
}
.res_description{
	padding-left: 220px;
	padding-top: 50px;
	position: fixed;
	font-size: 20px;
	font-style: italic;
	z-index: -99;
	opacity: 0.0;
}
.music_description{
	padding-left: 220px;
	padding-top: 100px;
	position:fixed;
	font-size: 20px;
	font-style: italic;
	z-index: -100;
	/*display: none;*/
	opacity: 0.0;
}
.tumblr_description{
	/*padding-left: 110px;*/
	padding-left: 220px;
	padding-top: 200px;
	position: fixed;
	font-size: 20px;
	font-style: italic;
	z-index: -101;
	opacity: 0.0;
}
.hacker_description{
	/*padding-left: 110px;*/
	padding-left: 220px;
	padding-top: 250px;
	position: fixed;
	font-size: 20px;
	font-style: italic;
	z-index: -102;
	opacity: 0.0;
}
.mind_description{
	/*padding-left: 110px;*/
	padding-left: 220px;
	padding-top: 150px;
	position: fixed;
	font-size: 20px;
	font-style: italic;
	z-index: -102;
	opacity: 0.0;
}
#res, #music, #blog, #hack, #mind, #report{
	color: black;
	cursor: pointer;
	text-decoration: none;
	z-index: -2;
	/*border-bottom: 1px solid;
	border-bottom-color: #CFCFCF;*/
}
/*#more{
	padding-left: 50px;
	border-bottom: 1px solid;
	border-bottom-color: #CFCFCF;
}*/
/*.rgb{
	position: absolute;
	display: none;
	top: 178px;
	opacity: 0.5;
	font-size: 30px;
	z-index: -1;
	overflow: hidden;
}*/
#r {
	color: #00FFFF; /*cyan*/
	/*color: #FF0000; /*red*/
	left: 155px;
}
#g {
	color: #FF00FF; /*magenta*/
	/*color: #00FF00; /*green*/
	left: 158px;
}
#b {
	color: #FFFF00; /*yellow*/
	/*color: #0000FF; /*blue*/
	left: 161px;
}
.rgb1, .rgb2, .rgb3, .rgb4, .rgb5, .rgb6{
	/*position: absolute;*/
	/*display: none;*/
	/*top: 187px;*/
	opacity: 0.0;
	font-size: 20px;
	z-index: -4;
	/*overflow: hidden;*/
}
#r2{padding-left:0px; color: #00FFFF; }
#g2{padding-left:2px; color: #FF00FF; }
#b2{padding-left:4px; color: #FFFF00; }

p {
	font-size: 0;
	display: inline;
}

.mind_prompt{
	padding-left: 350px;
	/*padding-right: 50px;*/
	padding-top: 85px;
	white-space: pre-wrap;
	font-size: 18px;
	position: absolute;
	display: none;
}
span.prompt{
	display: inline-block;
	width: 51%;
	font-size: 0;
}
span a {
	font-size: 18px;
	line-height: 24px;
	/*width: 50%;*/
}
span#align-right {
	/*position: relative;*/
	/*padding-left: 220px;*/
	text-align: right;
	/*font-size: 20px;*/
	/*line-height: 5px;*/
	/*padding-top: 1200px;*/
}
.report, .rgb6 {
	padding-top: 565px;
	padding-left: 650px;
	position: absolute;
	font-size: 20px;
	font-style: italic;
	display: none;
}
.report{
	font-style: italic;
}
#r3{padding-left:648px; color: #00FFFF; }
#g3{padding-left:650px; color: #FF00FF; }
#b3{padding-left:652px; color: #FFFF00; }
/*#report {
	font-size: 20px;
}*/

/*span a {*/
	/*font-size: 18px;*/
	/*line-height: 24px;*/
	/*width: 50%;*/
/*}*/

